// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-height: 150px;
  border: 2px solid #d4e1e6;
  border-radius: 5px;
}

#order-show {
  margin-left: 30px;

  #order-details {
    margin-top: 20px;
  }
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
}
