// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  padding-top: 70px;
}

#show-product-details {
  
  h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  img {
    max-height: 200px;
    display: block;
    margin: 30px auto;
  }

  p {
    text-align: center;
    margin: 30px 20%;
  }

  #stock {
    text-align: center;
    color: #e52854;
  }

  #available {
    margin-top: 2px;
  }

  #div-line {
    height: 1px;
    width: 400px;
    margin: auto;
    background-color: #44494b;
  }

  #buy-button {
    height: 20px;;
    width: 80px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #show-edit-button, #show-delete-button {
    height: 20px;;
    width: 80px;
    padding-bottom: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #show-edit-delete {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;

  }

  .discount {
    color: #e52854;
    text-align: center;
  }

}

#new-product {

  margin-left: 5%;

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .label_tag {
    margin-top: 10px;
    margin-bottom: -2px; 
  }

  #submit-new {
    margin-top: 20px;
  }
}

#edit-product {

  margin-left: 5%;

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .label_tag {
    margin-top: 10px;
    margin-bottom: -2px; 
  }

  #submit-new {
    margin-top: 20px;
  }

  #edit-delete-button {
    margin-top: 10px;

    button {
      width: 114px;
    }
  }

}

#index {

  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  
  h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  #div-line {
    height: 1px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #44494b;
  }

  #index-more-info-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #index-edit-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #index-new-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #index-delete-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

#all-products {
  
  margin-left: 20px;
  margin-right: 20px;

  .thumbnail {
    height: 500px;
    border: 2px solid #d4e1e6;
    // margin: 10px;
  }

  // .container {
  //   background-color: #d4e1e6;
  //   height: 500px;
  //   width: 320px;
  //   border: 2px solid #44494b;
  //   border-radius: 5px;
  //   margin: 10px 10px;
  //   display: inline-block;
  //   float: left;
  // }
  
  img {
    max-height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h1, h4, h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #button-box {
    margin-bottom: 20px;
  }

  #all-learn-more-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #all-edit-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #all-new-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  #all-delete-button {
    height: 20px;;
    width: 150px;
    padding-bottom: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
