// Place all the styles related to the suppliers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#supplier-index {
  
  #div-line {
    height: 1px;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    background-color: #44494b;
  }
}