<h1>MacBook Pro For Sale</h1>
<p></p>

<table>
  <thead>
    <th colspan="2">Product Information</th>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @macbook.name %></td>
    </tr>
    <tr>
      <td><strong>Price:</strong></td>
      <td><%= @macbook.price %></td>
    </tr><tr>
      <td><strong>Image:</strong></td>
      <td><img src="<%= @image %>"/></td>
    </tr><tr>
      <td><strong>Description:</strong></td>
      <td><%= @macbook.description %></td>
    </tr>
  </tbody>
</table>