<h1>Products for Sale</h1>
<p></p>

<% @products.each do |product| %>
<h2>Product Information<br></h2>

<table>

  <tbody>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <td><strong>Price:</strong></td>
      <td><%= product.price %></td>
    </tr><tr>
      <td><strong>Image:</strong></td>
      <td><img src="<%= product.image %>"/></td>
    </tr><tr>
      <td><strong>Description:</strong></td>
      <td><%= product.description %></td>
    </tr>
  </tbody>

</table>
<% end %>