<div id="show-product-details">

  <h2><%= @product.name %></h2>

  <img src="<%= @product.image %>"/>
  <p>Price: <%= @product.price %></p>
  <div id="div-line"></div>
  <p><%= @product.description %></p>
  <div id="div-line"></div>
  
  <a id="buy-button" data-confirm="Are you sure you want to buy the product?" href="#" class="btn btn-default btn-sm active" role="button">Buy</a>

</div>
