<div id="index">

  <h2>Index of Suppliers</h2>

  <% @suppliers.each do |supplier| %>
    
    <h3><%= supplier.name %></h3>

    <a id="index-more-info-button" href="/suppliers/<%= supplier.id %>" class="btn btn-default btn-sm active" role="button">More Info</a>

    <a id="index-edit-button" data-confirm="Are you sure you want to edit the supplier?" href="/suppliers/<%= supplier.id %>/edit" class="btn btn-default btn-sm active" role="button">Edit</a>

    <a id="index-new-button" data-confirm="Create new product?" href="/suppliers/new" role="button" class="btn btn-default btn-sm active">Add New Supplier</a>

    <a id="index-delete-button" data-confirm="Are you sure you want to delete product?" data-method="delete" href="/suppliers/<%= supplier.id %>" rel="nofollow" role="button" class="btn btn-default btn-sm active">Delete</a>

    <div id="div-line"></div>

  <% end %>

</div>



